#gallery {
	list-style: none;
	display: flex;
	/* flex-wrap: wrap; */
}
.gallery-item {
	width: 100%;
}
.image {
	display: block;
	width: 100%;
}
.gallery-item:not(:last-child) {
	margin-right: 30px;
}
